<footer class="site-footer">
  {{ if site.GetPage "privacy.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s</a>" (site.GetPage "privacy.md").RelPermalink (i18n "privacy_policy") | safeHTML }}
  </p>
  {{ end }}

  {{ with site.Params.footer.text }}
  <p class="powered-by">
    {{ . | markdownify | emojify }}
  </p>
  {{ end }}

  {{ if not (in (slice "docs" "updates") .Type) }}
  <p class="powered-by">
    {{ if site.Copyright }}{{ replace (replace site.Copyright "{year}" now.Year) "&copy;" "<span>&copy;</span>" | safeHTML }}{{ else }}&copy; {{ now.Year }} {{ site.Title }}{{ end }}
  </p>
  {{ end }}
</footer>
